@import 'variables';


html {
  height: 100vh;
  width: 100vw;
  background: rgba(35, 50, 57, 1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transition: all 0.5s ease;
}
.header {
  transition: all 0.5s ease;
  z-index: 30;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  color: rgba(55, 70, 77, 0.75);
  font-weight: 800;
  font-size: 3rem;
  max-width: 100%;
  position: fixed;
  top: 2rem;
  text-shadow: 0 1px 5px rgba(10, 10, 10, 0.2);
  @include tablet {
    font-size: 5rem;
  }
  @include desktop {
    font-size: 8rem;
  }
}

.footer {
  font-family: 'Fira Mono', courier, monospace;
  position: fixed;
  bottom: 0;
  color: rgba(240, 240, 240, 0.8);
  font-size: 0.75rem;
  width: 100%;
  @include desktop {
    font-size: 0.66rem;
  }
  .copyright {
    font-style: italic;
    margin: 0.5rem;
    text-align: center;
    @include desktop {
      text-align: right;
    }
  }
}

.answer {
  transition: all 0.5s ease;
  display: flex;
  color: whitesmoke;
  text-align: center;
  position: fixed;
  z-index: 10;
  top: 35%;
  text-shadow: 0 1px 5px rgba(10, 10, 10, 0.25);
  font-weight: 700;
  font-size: 4rem;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  @include tablet {
    font-size: 10rem;
  }
  @include desktop {
    top: 30%;
    font-size: 15rem;
  }
}
.input-button {
  position: fixed;
  bottom: 15%;
  justify-content:center;
  @include tablet {
    bottom: 10%;
  }
}
.button {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  transition: all 0.5s ease;
  border: none;
  box-shadow: 0 1px 5px rgba(10, 10, 10, 0.25);
  background: rgba(240, 240, 240, 0.9);
  border-radius: 0.1rem;
  color: rgba(10, 10, 10, 0.5);
  font-size: 2rem;
  @include tablet {
    font-size: 2.5rem;
  }
  @include desktop {
    font-size: 3rem;
  }
}

.button:hover {
  background: rgb(240, 240, 240)
}
.input-inline-group {
  width: 60%;
  display: flex;
  position:fixed;
  top: 30%;
  flex-direction: column;
  background: transparent;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  @include tablet {
    top: 40%;
  }
  @include desktop {
    top: 40%;
    flex-direction: row;
    width: 60%;
  }
  input {
    font-family: 'Fira Sans', Helvetica, sans-serif;
    margin: 0.5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 0.1rem;
    background: rgba(240, 240, 240, 0.9);
    border: none;
    box-shadow: 0 1px 5px rgba(10, 10, 10, 0.25);
    @include desktop {
      margin: 1rem;
      font-size: 2.5rem;
    }
  }
}
