html {
  height: 100vh;
  width: 100vw;
  background: #233239; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transition: all 0.5s ease; }

.header {
  transition: all 0.5s ease;
  z-index: 30;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  color: rgba(55, 70, 77, 0.75);
  font-weight: 800;
  font-size: 3rem;
  max-width: 100%;
  position: fixed;
  top: 2rem;
  text-shadow: 0 1px 5px rgba(10, 10, 10, 0.2); }
  @media (min-width: 768px) and (max-width: 1099px) {
    .header {
      font-size: 5rem; } }
  @media (min-width: 1100px) {
    .header {
      font-size: 8rem; } }

.footer {
  font-family: 'Fira Mono', courier, monospace;
  position: fixed;
  bottom: 0;
  color: rgba(240, 240, 240, 0.8);
  font-size: 0.75rem;
  width: 100%; }
  @media (min-width: 1100px) {
    .footer {
      font-size: 0.66rem; } }
  .footer .copyright {
    font-style: italic;
    margin: 0.5rem;
    text-align: center; }
    @media (min-width: 1100px) {
      .footer .copyright {
        text-align: right; } }

.answer {
  transition: all 0.5s ease;
  display: flex;
  color: whitesmoke;
  text-align: center;
  position: fixed;
  z-index: 10;
  top: 35%;
  text-shadow: 0 1px 5px rgba(10, 10, 10, 0.25);
  font-weight: 700;
  font-size: 4rem;
  font-family: 'Fira Sans', Helvetica, sans-serif; }
  @media (min-width: 768px) and (max-width: 1099px) {
    .answer {
      font-size: 10rem; } }
  @media (min-width: 1100px) {
    .answer {
      top: 30%;
      font-size: 15rem; } }

.input-button {
  position: fixed;
  bottom: 15%;
  justify-content: center; }
  @media (min-width: 768px) and (max-width: 1099px) {
    .input-button {
      bottom: 10%; } }

.button {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  transition: all 0.5s ease;
  border: none;
  box-shadow: 0 1px 5px rgba(10, 10, 10, 0.25);
  background: rgba(240, 240, 240, 0.9);
  border-radius: 0.1rem;
  color: rgba(10, 10, 10, 0.5);
  font-size: 2rem; }
  @media (min-width: 768px) and (max-width: 1099px) {
    .button {
      font-size: 2.5rem; } }
  @media (min-width: 1100px) {
    .button {
      font-size: 3rem; } }

.button:hover {
  background: #f0f0f0; }

.input-inline-group {
  width: 60%;
  display: flex;
  position: fixed;
  top: 30%;
  flex-direction: column;
  background: transparent;
  padding: 1rem;
  align-items: center;
  justify-content: center; }
  @media (min-width: 768px) and (max-width: 1099px) {
    .input-inline-group {
      top: 40%; } }
  @media (min-width: 1100px) {
    .input-inline-group {
      top: 40%;
      flex-direction: row;
      width: 60%; } }
  .input-inline-group input {
    font-family: 'Fira Sans', Helvetica, sans-serif;
    margin: 0.5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 0.1rem;
    background: rgba(240, 240, 240, 0.9);
    border: none;
    box-shadow: 0 1px 5px rgba(10, 10, 10, 0.25); }
    @media (min-width: 1100px) {
      .input-inline-group input {
        margin: 1rem;
        font-size: 2.5rem; } }

/*# sourceMappingURL=theme.css.map */
