$main-background: rgba(35, 50, 57, 1);

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1100px;


@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}){
    @content;
  }
}
