/*
Error: Invalid CSS after "$main-background ": expected ":", was "= rgba(35, 50, ..."
        on line 1 of variables.scss

1: $main-background = rgba(35, 50, 57, 1)

Backtrace:
variables.scss:1
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/scss/parser.rb:1278:in `expected'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/scss/parser.rb:1208:in `expected'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/scss/parser.rb:1203:in `tok!'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/scss/parser.rb:640:in `variable'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/scss/parser.rb:696:in `block_child'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/scss/parser.rb:686:in `block_contents'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/scss/parser.rb:137:in `stylesheet'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/scss/parser.rb:41:in `parse'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/engine.rb:414:in `_to_tree'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/exec/base.rb:52:in `parse'
/usr/local/share/gems/gems/sass-3.5.1/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/share/gems/gems/sass-3.5.1/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$main-background \": expected \":\", was \"= rgba(35, 50, ...\"\A         on line 1 of variables.scss\A \A 1: $main-background = rgba(35, 50, 57, 1)"; }
